{% extends "base.html" %}

{%block title%} Comments page {%endblock%}

{% block content %}

<h6>View all {{ post.comments.count() }} comments : </h6>

<div class="d-flex flex-column">

    <div class="existing-comments">
        {% for comment in comments %}

        <div class="card card-inner mb-2">
            
                <div class="card-header d-flex justify-content-between align-items-center">
                    <a href="{{ url_for('profile', username=comment.user.username) }}">
                        <h5>{{ comment.user.username }}</h5>
                    </a>
                    
                    {% if comment.last_edited %}
                    <small class="text-muted">Last edited on : {{ comment.last_edited.replace(tzinfo=timezone('UTC')).astimezone(timezone('Asia/Kolkata')).strftime("%d-%m-%Y %H:%M:%S") }}</small>
                    
                    {% else %}
                    <small class="text-muted">Comment on : {{ comment.timestamp.replace(tzinfo=timezone('UTC')).astimezone(timezone('Asia/Kolkata')).strftime("%d-%m-%Y %H:%M:%S") }}</small>
                    {% endif %}

                </div>
            
                <div class="card-body">
                    <p>{{ comment.content }}</p>
                </div>

            
            {% if current_user == comment.user %}
            <div class="comment-actions">
                <div class="card-footer d-flex justify-content-end">
                    <a href="{{ url_for('edit_comment', post_id=post_id, comment_id=comment.id) }}"
                        class="btn btn-outline-primary btn-sm">Edit</a>
                    
                    <a href="{{ url_for('delete_comment', post_id=post_id, comment_id=comment.id) }}" class="btn btn-outline-danger btn-sm ml-2">Delete</a>
                    
                </div>
                
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <div class="add-comment-form-sticky-bottom">
            <hr>

        <form method="POST" action="{{ url_for('comment', post_id=post_id) }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.content.label }}
                {{ form.content(class="form-control" ,width="50%") }}
            
                {% for error in form.content.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            
            <div class="form-group">
                <input type="submit" value="Add Comment" class="btn btn-outline-primary">
            </div>
        </form>
    </div>
</div>

{% endblock %}