{% extends "base.html" %}

{%block title%} Registration Page {%endblock%}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/" style="font-size:17px">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/login" style="font-size:17px">Login</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>

<h5>Registration Page</h5>
<p>Fill this page to create an account.</p>
<hr>
<br>

<div class="content-section">
    <form method="POST" action="{{ url_for('register') }}">
        {{ form.csrf_token }}
        
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class="form-control", style="width:300px", placeholder="Enter username") }}
            {% for error in form.username.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
        
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control", style="width:300px", placeholder="Enter password") }}
            {% for error in form.password.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
        
        <div class="form-group">
            {{ form.confirm_password.label }}
            {{ form.confirm_password(class="form-control", style="width:300px", placeholder="Confirm Password") }}
            {% for error in form.confirm_password.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>



        <div class="form-group">
            {{ form.submit(class="btn btn-outline-primary") }}
        </div>
    </form>
</div>
{% endblock %}